# Python
__pycache__/
*.py[cod]
*.pyo
*.pdf

# Virtual environments
Environments/
venv/
env/

# macOS
.DS_Store

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Build / packaging
build/
dist/
*.egg-info/

# Temporary files
*.tmp
*.log

# Python testing / coverage
.pytest_cache/
.coverage

# Local data / generated outputs
Figures/
Material/
outputs/
